<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE beans [
        <!ELEMENT beans (bean*)>
        <!ELEMENT bean (property*)>
        <!ELEMENT property (#PCDATA)>

        <!ATTLIST bean id ID #REQUIRED>
        <!ATTLIST bean class CDATA #IMPLIED>
        <!ATTLIST property name CDATA #IMPLIED>
        <!ATTLIST property ref IDREF #IMPLIED>
        ]>

<beans>
    <bean id="userDAO" class="dao.imp.UserDAOImp"/>
    <bean id="thingDAO" class="dao.imp.ThingDAOImp"/>
    <bean id="projectDAO" class="dao.imp.ProjectDAOImp">
        <property name="thingDAOImp" ref="thingDAO"/>
    </bean>
    <bean id="listDAO" class="dao.imp.ListDAOImp">
        <property name="thingDAO" ref="thingDAO"/>
    </bean>
    <bean id="mapDAO" class="dao.imp.MapDAOImp"/>

    <bean id="userService" class="service.imp.UserServiceImp">
        <property name="userDAO" ref="userDAO"/>
        <property name="listDAO" ref="listDAO"/>
    </bean>

    <bean id="projectService" class="service.imp.ProjectServiceImp">
        <property name="projectDAO" ref="projectDAO"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="listService" class="service.imp.ListServiceImp">
        <property name="listDAO" ref="listDAO"/>
        <property name="userDAO" ref="userDAO"/>
        <property name="mapDAO" ref="mapDAO"/>
    </bean>

    <bean id="thingService" class="service.imp.ThingServiceImp">
        <property name="thingDAO" ref="thingDAO"/>
        <property name="userDAO" ref="userDAO"/>
        <property name="listDAO" ref="listDAO"/>
        <property name="projectDAO" ref="projectDAO"/>
        <property name="mapDAO" ref="mapDAO"/>
    </bean>

    <bean id="userController" class="controller.UserController">
        <property name="userService" ref="userService"/>
        <property name="projectService" ref="projectService"/>
        <property name="listService" ref="listService"/>
    </bean>

    <bean id="thingsController" class="controller.ThingsController">
        <property name="thingService" ref="thingService"/>
    </bean>

    <bean id="projectController" class="controller.ProjectController">
        <property name="projectService" ref="projectService"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="listController" class="controller.ListController">
        <property name="listService" ref="listService"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>

</beans>